/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* Slideshow container */
.slideshow-container {
    margin: 0;
}

.slideshow {

    margin: 0;
    padding: 0;

}

.section {

    margin: 0px 0px 0px 0px;
    padding: 0;

}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 700px) {
    .text {
        font-size: 11px
    }

}

.up {

    color: whitesmoke;

    margin-left: 1rem;
    font-size: 1.7rem;

}

.bf1 {
    width: 15rem;
    margin-left: 2rem;
    margin-top: 6rem;
}

#bf1 {
    margin-left: 2rem;
    margin-top: 6rem;
    color: whitesmoke;
    font-size: 1.5rem;
}

.btn {
    background-color: rgb(35, 47, 59);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;



}

.btn:hover {
    background-color: RoyalBlue;
}
figure{
    width: 59%


}


.site-footer {
    background-color:  #070C10;
      text-align: center;
      margin: 10px 0;
      padding: 10px 0;
  }
  
  #social-wrapper {
      text-align: center;
  }
  
  /*Social Media Icons*/
  .social-wrapper {
      text-align: center;
  }
  
  .social-wrapper ul li {
      display: inline;
      margin: 0 5px;
  }
  
  .twitter-icon,
  .facebook-icon,
  .instagram-icon,
  .googleplus-icon{
      margin-top: .625em;
      width: 40px;
      height: 40px;
      opacity: .6;
      filter: alpha(opacity=60); /* For IE8 and earlier */
    border-radius: 25px;
  }
  
  .twitter-icon:hover,
  .facebook-icon:hover,
  .instagram-icon:hover,
  
  .googleplus-icon:hover{
      opacity: 1.0;
      filter: alpha(opacity=100); /* For IE8 and earlier */
  }
  
  .footer-nav p {
      text-align: center;
  }